workflows/n8n_workflow.json
{
  "name": "THOR Partner Retagging — Phase 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "7124faf8-9bc1-465c-afa5-89d98468c17b",
      "name": "Daily 10:00 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-640, -16],
      "notes": "Runs daily at 10:00 AM Europe/Rome. Triggers the THOR partner tagging pipeline."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://thor-api-rcc.azurewebsites.net/api/run",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"use_llm\": false, \"dry_run\": false}",
        "options": {
          "timeout": 3600000
        }
      },
      "id": "1a674440-ec0d-478c-9a7e-2ee29b244569",
      "name": "Run Pipeline",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-464, -16],
      "onError": "continueRegularOutput",
      "notes": "POSTs to the THOR FastAPI /api/run endpoint. Timeout: 1 hour."
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode }}",
              "operation": "equal",
              "value2": 200
            }
          ]
        },
        "options": {}
      },
      "id": "52e7fdb8-f113-4c40-a20e-7b1074e2b293",
      "name": "Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-304, -16]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\ntry {\n  const result = typeof body === 'string' ? JSON.parse(body) : body;\n  return [{ json: result }];\n} catch (e) {\n  return [{ json: { error: 'Failed to parse API response', raw: JSON.stringify(body) } }];\n}"
      },
      "id": "db1f31ce-cbcb-475c-bddb-fc5ab7c8e447",
      "name": "Parse JSON Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-112, -128],
      "notes": "Extracts the pipeline result from the HTTP response body."
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst digests = data.digests || [];\nreturn digests.map(d => ({ json: d }));"
      },
      "id": "b1042c0d-4933-4dd7-95b4-9fdcdae0bbed",
      "name": "Split Digests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [128, 0],
      "notes": "Splits the digests array into individual items — one per Sales Lead email."
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.to }}",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.html }}",
        "additionalFields": {}
      },
      "id": "07509f74-6fc0-43d7-a1f0-b8e74962eb3b",
      "name": "Send Digest Email",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [352, 0],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "NP3s0P2eXvxglbfb",
          "name": "Microsoft Outlook account"
        }
      },
      "notes": "Sends the branded HTML digest email to each Sales Lead."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://default76a2ae5a9f004f6b95ed5d33d77c4d.61.environment.api.powerplatform.com:443/powerautomate/automations/direct/workflows/5f62b45d4f03437dbf536a9250941547/triggers/manual/paths/invoke?api-version=1&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=V0HHXpj6ofQVNjrniLZ76YPP8U7ARdiM1XrjcUIt1Pk",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ processed: $json.processed, leads_notified: $json.leads_notified, emails_sent: $json.emails_sent }) }}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f74912f8-b4f0-482f-a298-08ae6f6d1fdf",
      "name": "POST to Teams Webhook",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [112, -272],
      "notes": "POSTs pipeline summary to Power Automate webhook (Teams notification)."
    },
    {
      "parameters": {
        "toRecipients": "riccardo-carlo.conte@capgemini.com",
        "subject": "=⚠️ THOR Pipeline FAILED — {{ $now.format('yyyy-MM-dd') }}",
        "bodyContent": "=<h2 style='color:#d83b01'>Pipeline Failure</h2><p>The THOR partner tagging pipeline failed on {{ $now.format('yyyy-MM-dd HH:mm') }}.</p><h3>Error Output</h3><pre style='background:#f5f5f5;padding:12px;border-radius:4px;overflow-x:auto'>{{ $json.body?.error || $json.body || 'No output captured' }}</pre><p>HTTP status: {{ $json.statusCode }}</p><p style='color:#666'>Check the application logs for details.</p>",
        "additionalFields": {}
      },
      "id": "dd8a4b9b-340d-44a5-8298-cd1d2b957a66",
      "name": "Send Error Alert",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [-128, 160],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "NP3s0P2eXvxglbfb",
          "name": "Microsoft Outlook account"
        }
      },
      "notes": "Alerts Admin when the pipeline fails."
    }
  ],
  "connections": {
    "Daily 10:00 AM": {
      "main": [
        [
          {
            "node": "Run Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Pipeline": {
      "main": [
        [
          {
            "node": "Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Success?": {
      "main": [
        [
          {
            "node": "Parse JSON Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON Result": {
      "main": [
        [
          {
            "node": "Split Digests",
            "type": "main",
            "index": 0
          },
          {
            "node": "POST to Teams Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Digests": {
      "main": [
        [
          {
            "node": "Send Digest Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Rome",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "thor",
      "createdAt": "2026-05-03T00:00:00.000Z",
      "updatedAt": "2026-05-03T00:00:00.000Z"
    },
    {
      "name": "production",
      "createdAt": "2026-05-03T00:00:00.000Z",
      "updatedAt": "2026-05-03T00:00:00.000Z"
    }
  ],
  "triggerCount": 1,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "07aae0f3e07496de1ab4cfe9aab223dc31c0162f396e07bc0b35acf58779e962",
    "description": "THOR Agentic Partner Tagging — Daily pipeline via n8n Outlook node (direct Graph API)."
  }
}
